name: Build SWC and WASM

on:
  pull_request:
    paths:
      - 'tools/*'
      - 'deps/*'

env:
    NODE_VERSION: lts/*

jobs:
  build-swc:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0

      - name: Set up Docker
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Build WASM
        run: node ./tools/build-wasm.js --dry-run
