name: CI

on:
  pull_request:

jobs:
  commit-lint:
    name: Commit Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@b948419dd99f3fd78a6548d48f94e3df7f6bf3ed # v6.2.1

  code-quality:
    name: Code Quality
    needs: commit-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup Biome CLI
        uses: biomejs/setup-biome@29711cbb52afee00eb13aeb30636592f9edc0088 # v2.7.0
      - name: Run Biome
        run: biome ci

  build-and-test:
    needs: code-quality
    strategy:
      fail-fast: false
      matrix:
        node:
          - 22
          - 24
        platform:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    name: "${{matrix.platform}} w/ Node.js ${{matrix.node}}.x"
    runs-on: ${{matrix.platform}}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: "Use Node.js ${{matrix.node}}.x"
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{matrix.node}}.x
      - run: npm install
      - run: npm run typecheck
      - run: npm run build
      - run: npm test
